:root {
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
button:hover{
    cursor: pointer;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8eaf0;
}
.heading{
    margin: 3rem 0 3rem 0;
 
}
.title, .sub-title{
    font-size: 4rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #12130f;
}
.sub-title {
    font-size: 1.5rem;
    color: #8f8073;
    margin-top: 5px;
}
.user-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.user-input input{
    padding: 10px;
    border-radius: 20px;
    border: 2px solid steelblue;
    font-size: 1.5rem;
    letter-spacing: 2px;
    outline: none;
}
.button{
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    margin: 25px;
    background-color: #33bdf1;
    color: #fff;
    font-family: "Poppins", sans-serif;
    padding-top: 8px;
}
.qr-code{
    border-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.qr-code button a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #eae6e5;
}